<%= form_for(@alarm_type, html: {role: 'form'}) do |f| %>
  <%= render partial: 'layouts/resource_errors', locals: {resource: @alarm_type} %>
  <div class="form-group">
    <%= f.label :code, 'Código', class: 'control-label' %><br>
    <%= f.text_field :code, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Descripción', class: 'control-label' %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= link_to 'Regresar', alarm_types_path, class: 'btn btn-default' %>
    <%= f.submit 'Guardar', class: 'btn btn-success' %>
  </div>
<% end %>
