<h1>Listing alarm_types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alarm_types.each do |alarm_type| %>
      <tr>
        <td><%= alarm_type.description %></td>
        <td><%= link_to 'Show', alarm_type %></td>
        <td><%= link_to 'Edit', edit_alarm_type_path(alarm_type) %></td>
        <td><%= link_to 'Destroy', alarm_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alarm type', new_alarm_type_path %>
