<%= form_for(@user, url: user_settings_path, method: :post, html: {role: 'form'}) do |f| %>
  <%= render partial: 'layouts/resource_errors' %>
  <div class="form-group">
    <%= f.label :username, class: 'control-label' %><br>
    <%= f.text_field :username, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :fullname, class: 'control-label' %><br>
    <%= f.text_field :fullname, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password, class: 'control-label' %><br>
    <%= f.password_field :password, autocomplete: 'off', placeholder: 'Dejar en blanco si no desea cambiar su contraseña', class: 'form-control' %>
  </div>
    <div class="form-group">
    <%= f.label :password_confirmation, class: 'control-label' %><br>
    <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Guardar', class: 'btn btn-success' %>
  </div>
<% end %>
