<%= form_for(@turn, html: {role: 'form'}) do |f| %>
  <%= render partial: 'layouts/resource_errors', locals: {resource: @turn} %>
  <div class="form-group">
    <%= f.label :name, class: 'control-label' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :start_time, class: 'control-label' %><br>
    <% if action_name == 'edit' %> 
      <%= f.text_field :start_time, value: @turn.start_time.strftime('%I:%M %p'), class: 'form-control timepicker-b3' %>
    <% else %>
      <%= f.text_field :start_time, class: 'form-control timepicker-b3' %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :end_time, class: 'control-label' %><br>
    <% if action_name == 'edit' %> 
      <%= f.text_field :end_time, value: @turn.end_time.strftime('%I:%M %p'), class: 'form-control timepicker-b3' %>
    <% else %>
      <%= f.text_field :end_time, class: 'form-control timepicker-b3' %>
    <% end %>
  </div>
  <div class="form-group">
    <%= link_to 'Regresar', turns_path, class: 'btn btn-default' %>
    <%= f.submit 'Guardar', class: 'btn btn-success' %>
  </div>
<% end %>
