<script type="text/javascript">
  $(function() {
    function percentageFormatter(val, axis){
      return val + " %"
    }
    var frequencies = [];
    var cumulative_percentages = [];
    <% data[:alarms].each do |alarm| %>
      frequencies.push(["<%= alarm[:code] %>", <%= alarm[:frequency] %>]);
      cumulative_percentages.push(["<%= alarm[:code] %>", <%= alarm[:cumulative_percentage] %>]);
    <% end %>
    $.plot(
      "#plot",
      [
        {
          data: frequencies,
          yaxis: 1,
          bars: {
            show: true,
            align: "center",
            barWidth: 0.6
          },
          color: "#00f"
        },
        {
          data: cumulative_percentages,
          points: { show: true },
          lines: { show: true },
          yaxis: 2,
          color: "#0f0"
        },
      ],
      {
        xaxis: {
          mode: "categories",
          tickSize: 1
        },
        yaxes: [
          {
            position: "left",
            axisLabel: "Frecuencia de alarma",
          },
          {
            min: 0,
            max: 100,
            position: "right",
            tickFormatter: percentageFormatter,
            axisLabel: "Porcentaje acumulativo "
          }
        ]
      }
    );
  });
</script>
<div id="plot" style="width:<%= width %>; height:<%= height %>px;"></div>
