<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Reportes</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= render partial: 'layouts/notifications' %>
  </div>
  <div class="col-lg-12">
    <div class="panel-group" id="accordion">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#temperatures">Temperaturas</a>
          </h4>
        </div>
        <div id="temperatures" class="panel-collapse collapse">
          <div class="panel-body">
            <%= form_for :report, url: temperatures_report_path(format: 'pdf'), html: {role: 'form'} do |f| %>
              <%= render 'datetime_fields', f: f %>
              <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#variable">Lazo de control</a>
          </h4>
        </div>
        <div id="variable" class="panel-collapse collapse">
          <div class="panel-body">
            <%= form_for :report, url: variable_report_path(format: 'pdf'), html: {role: 'form'} do |f| %>
              <div class="form-group">
                <%= f.label :stat_type_id, 'Variable', class: 'control-label' %>
                <%= f.collection_select :stat_type_id, @stat_types, :id, :description, {include_blank: false}, class: 'selectizable' %>
              </div>
              <%= render 'datetime_fields', f: f %>
              <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#metering_bin">Nivel del metering bin </a>
          </h4>
        </div>
        <div id="metering_bin" class="panel-collapse collapse">
          <div class="panel-body">
            <%= form_for :report, url: metering_bin_report_path(format: 'pdf'), html: {role: 'form'} do |f| %>
              <div class="col-lg-6">
                <div class="form-group">
                  <%= f.label :start_time, 'Desde' %>
                  <%= f.text_field :start_time, class: 'form-control inline datetimepicker-b3' %>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <%= f.label :end_time, 'Hasta' %>
                  <%= f.text_field :end_time, class: 'form-control inline datetimepicker-b3' %>
                </div>
              </div>
              <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#discharges_and_temperatures">Descargas, temperatura final, temperatura vapor y total descargado por turno</a>
          </h4>
        </div>
        <div id="discharges_and_temperatures" class="panel-collapse collapse">
          <div class="panel-body">
            <%= form_for :report, url: discharges_and_temperatures_report_path(format: 'pdf'), html: {role: 'form'} do |f| %>
              <%= render 'datetime_fields', f: f %>
              <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#pumped_fat">Bombeo de grasa, acumulado y total bombeado por turno</a>
          </h4>
        </div>
        <div id="pumped_fat" class="panel-collapse collapse">
          <div class="panel-body">
            <%= form_for :report, url: pumped_fat_report_path(format: 'pdf'), html: {role: 'form'} do |f| %>
              <%= render 'datetime_fields', f: f %>
              <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#alarms">Diagrama de alarmas</a>
          </h4>
        </div>
        <div id="alarms" class="panel-collapse collapse">
          <div class="panel-body">
            <%= form_for :report, url: alarms_report_path(format: 'pdf'), html: {role: 'form'} do |f| %>
              <%= render 'datetime_fields', f: f %>
              <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#motors">Motores</a>
          </h4>
        </div>
        <div id="motors" class="panel-collapse collapse">
          <div class="panel-body">
            <%= form_for :report, url: motors_report_path(format: 'pdf'), html: {role: 'form'} do |f| %>
              <%= render 'datetime_fields', f: f %>
              <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#averages">Temperatura final, nivel de grasa, nivel de carga y presión interna</a>
          </h4>
        </div>
        <div id="averages" class="panel-collapse collapse">
          <div class="panel-body">
            <%= form_for :report, url: averages_report_path(format: 'pdf'), html: {role: 'form'} do |f| %>
              <div class="date">
                <div class="col-lg-12">
                  <div class="form-group">
                    <%= f.label :date, 'Día', class: 'control-label' %>
                    <%= f.text_field :date, class: 'form-control datepicker-b3' %>
                  </div>
                  <%= f.hidden_field :with_time_range, :value => '0' %>
                </div>
              </div>
              <%= f.submit 'Generar reporte', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
