<script type="text/javascript">
  $(function() {
    var states = [];
    <% data[:motor_stats][:states].each_with_index do |state, index| %>
      <% if data[:motor_stats][:timestamps][index] - data[:motor_stats][:timestamps][index - 1] > 300000 %>
        states.push(null);
      <% end %>
      states.push([<%= data[:motor_stats][:timestamps][index] %>, "<%= state ? 'Encendido' : 'Apagado' %>"]);
    <% end %>
    $.plot(
      "#plot",
      [
        {
          data: states,
          yaxis: 1,
          lines: {
            show: true,
            steps: true
          },
          color: "00f",
        }
      ],
      {
        xaxis: {
          mode: "time",
          timezone: "browser",
          timeformat: "%I:%M %p",
          min: <%= data[:start_time].to_time.to_i * 1000 %>,
          max: <%= data[:end_time].to_time.to_i * 1000 %>
        },
        yaxis: {
          max: 1.5,
          min: -0.5,
          tickSize: 1,
          position: "right",
          mode: "categories",
          categories: ["Apagado", "Encendido"]
        }
      }
    );
  });
</script>
<div id="plot" style="width:<%= width %>; height:<%= height %>px;"></div>
