<script type="text/javascript">
  $(function() {
    var datasets = [];
    <% data[:temperatures].each do |temperature| %>
      var values = []
      <% temperature[:stats][:values].each_with_index do |value, index| %>
        <% if temperature[:stats][:timestamps][index] - temperature[:stats][:timestamps][index - 1] > 300000 %>
          values.push(null);
        <% end %>
        values.push([<%= temperature[:stats][:timestamps][index] %>, <%= value %>]);
      <% end %>
      datasets.push({
        label: "<%= temperature[:description] %>",
        data: values,
      })
    <% end %>
    $.plot(
      "#plot",
      datasets,
      {
        xaxis: {
          mode: "time",
          timezone: "browser",
          timeformat: "%I:%M %p",
          min: <%= data[:start_time].to_time.to_i * 1000 %>,
          max: <%= data[:end_time].to_time.to_i * 1000 %>
        },
        colors: ["#00f", "#ff0", "#ff8000", "#f00"],
        legend: {
          show: true,
          labelBoxBorderColor: "none",
          position: "se"
        },
        yaxis: {
          max: 350,
          min: 150,
          tickSize: 10
        }
      }
    );
  });
</script>
<div id="plot" style="width:<%= width %>; height:<%= height %>px;"></div>
