<script type="text/javascript">
  $(function() {
    var values = [];
    var set_points = [];
    var autos = [];
    <% data[:values].each_with_index do |value, index| %>
      values.push([<%= data[:timestamps][index] %>, <%= value %>]);
      set_points.push([<%= data[:timestamps][index] %>, <%= data[:set_points][index] %>]);
      autos.push([<%= data[:timestamps][index] %>, <%= raw(data[:auto][index] ? "\"Auto\"" : "\"Manual\"") %>]);
    <% end %>
    $.plot(
      "#plot",
      [
        {data: values, yaxis: 1, color: "#00f", points: { symbol: "circle"  }},
        {data: set_points, yaxis: 1, color: "#0f0"},
        {data: autos, yaxis: 2, color: ""}
      ],
      {
        xaxis: {mode: "time", timezone: "browser"},
        yaxes: [
          {
            max: 300,
            min: 160,
            tickSize: 10
          },
          {
            tickSize: 0,
            position: "right",
            mode: "categories"
          }
        ]
      }
    );
  });
</script>
<div id="plot" style="width:<%= width %>; height:<%= height %>px;"></div>