<script type="text/javascript">
  $(function() {
    var values = [];
    var set_points = [];
    var autos = [];
    <% data[:stats][:values].each_with_index do |value, index| %>
      <% if data[:stats][:timestamps][index] - data[:stats][:timestamps][index - 1] > 300000 %>
        values.push(null);
      <% end %>
      values.push([<%= data[:stats][:timestamps][index] %>, <%= value %>]);
    <% end %>
    <% if data[:controllable] %>
      <% data[:stats][:set_points].each_with_index do |set_point, index| %>
        <% if data[:stats][:timestamps][index] - data[:stats][:timestamps][index - 1] > 300000 %>
          set_points.push(null);
          autos.push(null);
        <% end %>
        set_points.push([<%= data[:stats][:timestamps][index] %>, <%= set_point %>]);
        autos.push([<%= data[:stats][:timestamps][index] %>, "<%= data[:stats][:autos][index] ? 'Auto' : 'Manual' %>"]);
      <% end %>
    <% end %>
    $.plot(
      "#plot",
      [
        {label: "Valor", data: values, yaxis: 1, color: "#00f"},
        {label: "Set point", data: set_points, yaxis: 1, color: "#0f0"},
        <% if data[:controllable] %>
          {label: "Auto/Manual", data: autos, yaxis: 2, color: "f00"}
        <% end %>
      ],
      {
        xaxis: {
          mode: "time",
          timezone: "browser",
          timeformat: "%I:%M %p",
          min: <%= data[:start_time].to_time.to_i * 1000 %>,
          max: <%= data[:end_time].to_time.to_i * 1000 %>
        },
        yaxes: [
          {},
            {
              max: 4,
              min: -1,
              tickSize: 1,
              position: "right",
              mode: "categories",
              categories: ["Manual", "Auto"]
            }
        ],
        legend: {
          show: <%= data[:controllable] %>,
          labelBoxBorderColor: "none",
          position: "se"
        }
      }
    );
  });
</script>
<div id="plot" style="width:<%= width %>; height:<%= height %>px;"></div>
