<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? yield(:title) : "Mini Bruno Sucesores, C. A. - Planta 2" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Minibruno" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv' %>
    <%= javascript_include_tag 'respond' %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
